@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
  --color-brand: #ff4d8d;
  --color-brand-dark: #d92f6f;
  --color-ink: #17121f;
  --color-night: #1d1530;
}
